[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
pandas = "*"
pysimplegui = "*"
pywin32 = "*"
pypiwin32 = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
