[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
pandas = "*"
colorama = "*"
termcolor = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
isort = "*"
ipython = "*"

[requires]
python_version = "3.10"
