[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
open3d = "==0.16.0"
numpy = "*"
matplotlib = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
